div.puzzle-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #aaa;
}
ul.image-wrap {
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 1px solid #aaa;
}
ul.image-wrap img {
  width: 500px;
  height: 500px;
}
