form.Form {
  width: 80%;
  height: 10%;
  margin-bottom: 20px;
}
.Form .input,
.Form .button {
  font-size: 12pt;
  border: 0;
  outline: 0;
}
.Form .input {
  width: calc(100% - 110px);
  border-bottom: 1px solid #aaa;
  padding: 10px 5px;
  caret-color: #6a768a;
}
.Form .button {
  font-family: "MICEGothic Bold";
  width: 100px;
  margin-left: 10px;
  padding: 10px;
  color: white;
  background-color: #6a768a;
  border-radius: 5px;
  white-space: nowrap;
  transition: all linear 0.2s;
}
.Form .button:hover {
  cursor: pointer;
  background-color: rgb(219, 75, 75);
}
