section.Main {
  width: 60%;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main .header {
  width: 100%;
  padding: 1em;
  user-select: none;
  background-color: #6a768a;
  color: white;
  font-size: 25pt;
  font-weight: 700;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #282c34;
}
/* 
cf) 
부모요소보다 자식요소의 크기가 더 커서 
부모요소에도 스크롤이 생기거나
자식요소가 부모요소 밖으로 넘칠 경우
부모요소에 display:flex, overflow:hidden 속성을 줄 것
*/
.Main .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}
