ul.TodoList {
  width: 80%;
  height: 100%;
  overflow: hidden auto;
}
ul.TodoList::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
ul.TodoList::-webkit-scrollbar-thumb {
  background-color: #6a768a;
  border-radius: 5px;
}
ul.TodoList li.Item {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0 10px;
  border-bottom: 1px dashed #ccc;
  display: flex;
}
ul.TodoList li.Item span {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
ul.TodoList li.Item span svg {
  color: #6a768a;
  font-size: 16pt;
  font-weight: 900;
  pointer-events: none;
  opacity: 0;
}
ul.TodoList li.Item span.complete {
  text-decoration: line-through;
  color: #aaa;
}
ul.TodoList li.Item span.complete svg {
  opacity: 1;
  animation: 0.3s ease-in-out jump;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
ul.TodoList li.Item button {
  width: 30px;
  opacity: 0;
  user-select: none;
  border: 0;
  outline: 0;
  font-size: 16pt;
  font-weight: 900;
  pointer-events: none;
  background-color: transparent;
  transition: all linear 0.2s;
  color: #6a768a;
}
ul.TodoList li.Item button.update {
  margin-right: 5px;
}
ul.TodoList li.Item button.delete:hover {
  color: rgb(219, 75, 75);
}
ul.TodoList li.Item button.update:hover {
  color: rgb(66, 66, 163);
}
ul.TodoList li.Item button svg {
  pointer-events: none;
}
ul.TodoList li.Item:hover {
  cursor: pointer;
  background-color: #eee;
}
ul.TodoList li.Item:hover button {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
